.navbar {
   width: 50vw;
   margin-left: 25vw;
   top: 3vh;
   position: fixed;
   -webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   animation-duration: 1s;
   animation-delay: 1.5s;
}

.navbar-items {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-family: 'Montserrat', sans-serif;
}

.nav-link {
   font-size: .75vw;
   /* font-weight: bold; */
   color: rgb(0, 225, 255);
   color: white;
   text-decoration: none !important;
   letter-spacing: .25vw;
   transition: all .5s;
}

.nav-link:hover, a:visited, a:link, a:active, :focus {
   text-decoration: none !important;
   color: rgb(0, 225, 255);
   font-weight: bold;
   cursor: pointer;
   transform: scale(1.1);
}



/* --------------------KEYFRAMES------------------- */
 /**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
   0% {
     -webkit-transform: scale(1.05);
             transform: scale(1.05);
     -webkit-filter: blur(4px);
             filter: blur(4px);
     opacity: 0;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes puff-in-center {
   0% {
     -webkit-transform: scale(1.05);
             transform: scale(1.05);
     -webkit-filter: blur(4px);
             filter: blur(4px);
     opacity: 0;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
/* --------------------KEYFRAMES------------------- */
