.navbar {
   width: 40vw;
   margin-left: 31vw;
   top: 2.25vh;
   position: fixed;
   -webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   animation-duration: 1s;
   animation-delay: 1.5s;
   -webkit-animation-duration: 1s;
   -webkit-animation-delay: 1.5s;
   z-index: 101;
}

.logo-icon-navbar {
   width: 4vw;
   position: absolute;
   top: 1px;
   left: 1vw;
   z-index: 102;
   -webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   -webkit-animation-delay: .2s;
   -webkit-animation-duration: 1s;
   animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   animation-duration: 1s;
   animation-delay: .4s;
}

.nav-divider-line {
   position: fixed;
   width: 40.25vw;
   top: 5vh;
   margin-left: 30.75vw;
   height: 0.25vh;
   background-color:#ffffffd0;
   z-index: 9999;
   -webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   animation-duration: 1s;
   animation-delay: 2s;
   -webkit-animation-duration: 1s;
   -webkit-animation-delay: 2s;  
}

.navbar-items {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.nav-link {
   font-size: .7vw;;
   color: #00eeff;
   text-decoration: none !important;
   letter-spacing: .25vw;
   transition: all .5s;
   /* border-style: solid;
   border-radius: 10px;
   border-width: 2px;
   padding: 15px; */
}

.nav-link:hover, a:visited, a:link, a:active, :focus {
   text-decoration: none !important;
   color: #ffffff;
   cursor: pointer;
   transform: scale(1.1);
}

/* --------------------KEYFRAMES------------------- */
 /**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
   0% {
     -webkit-transform: scale(1.05);
             transform: scale(1.05);
     -webkit-filter: blur(4px);
             filter: blur(4px);
     opacity: 0;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes puff-in-center {
   0% {
     -webkit-transform: scale(1.05);
             transform: scale(1.05);
     -webkit-filter: blur(4px);
             filter: blur(4px);
     opacity: 0;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
/* --------------------KEYFRAMES------------------- */
